@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Sora&display=swap');

$accent: rgb(0, 255, 13);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // border: 1px solid red;
  }

.page-wrapper {
  font-family: 'Sora', sans-serif;
  font-size: 1.5rem;
  background-color: rgb(49, 49, 49);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  .title {
    margin: 0px;
    font-size: 2.5rem;
    max-width: 95vw;
    font-weight: 600;
  }
  .image {
    margin-bottom: 2rem;
    width: 8rem;
  }
  #break-label {
    color: $accent;
  }
  .break-message {
    color: $accent;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  #timer-label {
    color: tomato;
    text-align: center;
  }
  .timer {
    text-align: center;
  }
  .play-pause {
    margin: 1rem;
  }
  #session-label {
    color: $accent;
    margin-top: 2rem;
  }
}

.length-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  .time-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }  
}
